* { 
	margin: 0; padding: 0;
}
body {
	background-image: url("bg.png");
	font-family: sans-serif;
}

.frame{
	background-color: rgba(0,128,0,0.4);
	margin: 0px;
	padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 3px;
    padding-right: 3px;

	/* put css-rules in this ccs-block here below */
	
}

h1{
	background-color: rgba(0,32,0,0.4);
	line-height: 40px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
	margin-top: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 20px;
}

h2 {
	line-height: 30px;
	border: 4px solid purple;
	padding-top: 7px;
	padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

p{
	background-color: rgba(256,256,0,0.4);
	line-height: 20px;
	border: 1px;
	margin: 10px;
	padding: 10px;

}

#container {
	width: 600px;
	margin: auto;
	padding: auto;
}